r
numpy
pandas
apptainer
biopython
snakemake
rpi::msgpack
main::tables
main::packaging
bioconda::htseq
bioconda::blosc2
bioconda::hisat2
bioconda::biomart
bioconda::subread
bioconda::samtools
bioconda::sra-tools